@import "tailwindcss";

/* custom tailwind colors */
@theme {
  /* background */
  --color-grey: rgb(51, 52, 52); /* main background */
  --color-dark-grey: rgb(30, 31, 30); /* secondary background: footer, nav containers */

  /* text colors */
  --color-electric-blue: rgb(47, 196, 243); /* links */
  --color-khaki: rgb(145, 137, 82); /* accent - headers */
  --color-khaki-bright: hsl(52, 75%, 55%); /* navigation hover color */
  --color-light-grey: rgb(160, 160, 160); /* used for nav word, location addresses */
  --color-white: rgb(255, 255, 255); /* text */
}

/* custom tailwind fonts
Note: for the catamaran, there are different font weights, to apply a selected catamaran font in a component, write: className="font-catamaran font-light" (font-catamaran itself is the regular one)
See other font weight styling here: https://tailwindcss.com/docs/font-weight.
*/
@theme {
  --font-catamaran: var(--font-catamaran);
  --font-bungee-reg: var(--font-bungee-reg);
  --font-bungee-hairline: var(--font-bungee-hairline);
  --font-denson-bold: var(--font-denson-bold);
}


/* Order of specificity:
1. Base (lowest)
2. Component
3. Utilities (highest) - in-line styling like className="text-center"
*/

/* base styles for certain HTML elements */
@layer base {
  h1 {
    @apply text-5xl mb-5
  }
  h2 {
    @apply text-4xl
  }
  h3 {
    @apply text-3xl
  }
  h4 {
    @apply text-xl
  }
}

/* 
custom in-line class styling using grouped Tailwind class styles (done with @apply)
Note: @layer components - used so that in-line styling can still override these styles created in @layer components.

Note: some of these styles can be in the components themselves to keep modularity, but they can also be used anywhere else on the website. If so, change the style name and fix the associated names in the components. 
 */

@layer components {
  .h1 {
    font-family: var(--font-denson-bold);
    color: var(--color-khaki);
    text-align: center;
  }

  .hover-effect { /* styles for any link hovers */
    @apply hover:opacity-70 transition duration-200 cursor-pointer
  }

  .nav-hover-text { /* text changes when hover over navigation words  */
    @apply text-khaki hover:text-white transition duration-200 cursor-pointer
  }

  .nav-hover-animation { /* nav border bottom animation */
    @apply absolute -bottom-1 left-0 w-full border-2 border-khaki-bright scale-x-0 group-hover:scale-x-100 transition duration-300 ease-in-out
  }

  .nav-chevron-inline { /* positions chevron inline inside the flex link */
    @apply ml-1 w-4 h-4 transition-transform duration-300 group-hover/nav:rotate-180 pointer-events-none
  }

  .contact-input { /* inquiry & support pages (under contact) */
    @apply bg-dark-grey p-3 border-1 border-white rounded-md h-12
  }
}