@import "tailwindcss";

/* custom tailwind colors */
@theme {
  /* background */
  --color-grey: rgb(51, 52, 52); /* main background */
  --color-dark-grey: rgb(30, 31, 30); /* secondary background: footer, nav containers */

  /* text colors */
  --color-electric-blue: rgb(49, 194, 241); /* links */
  --color-khaki-gold: rgb(145, 136, 81); /* accent - headers */
  --color-khaki-gold-bright: hsl(52, 75%, 55%); /* navigation hover color */
  --color-nav-grey: rgb(160, 160, 160); /* muted text gray for inactive state */
  --color-white: rgb(246, 246, 246); /* text */
}

/* custom tailwind fonts */
@theme {
  --font-catamaran: var(--font-catamaran);
  --font-bungee-reg: var(--font-bungee-reg);
  --font-bungee-hairline: var(--font-bungee-hairline);
  --font-denson-bold: var(--font-denson-bold);
}

/* Order of specificity:
1. Base (lowest)
2. Component
3. Utilities (highest) - in-line styling like className="text-center"
*/

/* base styles for certain HTML elements */
@layer base {
  h1 {
    @apply text-5xl mb-5
  }
  h2 {
    @apply text-4xl
  }
  h3 {
    @apply text-3xl
  }
  h4 {
    @apply text-xl
  }
}

/* 
custom in-line class styling using grouped Tailwind class styles (done with @apply)
Note: @layer components - used so that in-line styling can still override these styles created in @layer components.

Note: some of these styles can be in the components themselves to keep modularity, but they can also be used anywhere else on the website. If so, change the style name and fix the associated names in the components. 
 */

@layer components {
  .h1 {
    font-family: var(--font-denson-bold);
    color: var(--color-khaki-gold);
    text-align: center;
  }

  .hover-effect { /* links */
    @apply hover:opacity-70 transition duration-200 cursor-pointer
  }

  /* navigations styling */
  .nav-hover-text {
    @apply text-nav-grey hover:text-white transition duration-200 cursor-pointer
  }

  .nav-hover-animation { /* nav border bottom animation */
    @apply absolute -bottom-1 left-0 w-full border-2 border-khaki-gold-bright scale-x-0 group-hover:scale-x-100 transition duration-300 ease-in-out
  }

  .nav-chevron-animation {
    @apply transition-transform duration-300 group-hover:rotate-180 pointer-events-none
  }

  .center-chevron-icon { /* chevron on the blogs homepage */
   @apply absolute right-3 top-1/2 -translate-y-1/2 pointer-events-none
  }

  .contact-input {
    @apply bg-dark-grey p-3 border-1 border-white rounded-md h-12
  }

  .footer-icon {
    @apply w-8 h-8
  }
}